html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END CSS RESET */
/* END CSS RESET */
/* END CSS RESET */
/* END CSS RESET */
/* END CSS RESET */
/* END CSS RESET */
/* END CSS RESET */

html {
    font-size: 16px;
}

header {
    background-color: #44A4DE;
    height: 12.5rem;
}

h1 {
    font-size: 5rem;
    text-align: left;
    color: white;
    padding: 1.875rem;
    font-family: Pacifico;
}

.topnav {
    background-color: 44A4DE;
    overflow: hidden;
    padding: 1rem;
  }
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Architects Daughter;
  }
  
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  .topnav a.active {
    background-color: white;
    color:#44A4DE;
  }
.section1 {
    height: 31.25rem;
}
.img1 {
    padding: 1.25rem;
    float: left;
}
h2 {
    float: center;
    font-size: 3.125rem;
    padding-top: 6.25rem;
    padding-left: 3.125rem;
    padding-bottom: 1.5625rem;
    font-family: Architects Daughter;
}

.projectsbutton {
    color: #f2f2f2;
    background-color: #44A4DE;
    text-align: center;
    padding: .875rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Architects Daughter;
}
.projectsbutton:hover {
    background-color: #F1F1F1;
    color: #44A4DE;
}
p {
    font-family: architects Daughter;
    padding: 1.875rem;
    font-size: 1.5625rem;
}
.title {
    font-family: Architects Daughter;
    padding: 1.25rem;
    font-size: 1.875rem;
    text-align: center;
}
.section2 {
    flex-flow: column nowrap;
}
.projectimg {
    display: inline-block;
    height: 20vw;
    margin: 3.125rem;
    width: 20vw;
    margin-bottom: 6rem;
    text-align: center;
}
.projectimg img {
    width: 20vw;
}
footer {
    background-color: #44A4DE;
    height: 9.375rem;
}
h3 {
    font-size: 2.5rem;
    text-align: center;
    font-family: Architects Daughter;
    padding: 1.25rem;
}
.footerbutton {
    color: white;
    background-color:#44A4DE;
    text-align: center;
    padding: .875rem 1rem;
    text-decoration: none;
    font-size: 1.4rem;
    font-family: Architects Daughter;
}
.footerbutton:hover {
    background-color: white;
    color: #44A4DE;
}
footer {
    text-align: center;
}

@media (max-width: 800px) {
    header {
        background-color: white;
    }
    h1 {
        color: #44A4DE;
        text-align: center;
        font-size: 10vw;
        margin-bottom: 1rem;

    }
    .topnav a {
        color: #44A4DE;
        background-color: white;
        display: block; 
        padding: .875rem; 
        text-decoration: none; 
        width: 30vw;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid lightgrey;
        font-size: 2.5vw;
    }
    .img1 {
        margin-top: 11rem;
    }
    .topnav a.active {
        color: white;
        background-color:#44A4DE;
        display: block; 
        padding: .875rem; 
        text-decoration: none; 
      }
    .topnav a.active:hover {
        color: white;
        background-color:#44A4DE;
        display: block; 
        padding: .875rem; 
        text-decoration: none; 
    }
    .topnav a:hover {
        color: white;
        background-color:#44A4DE;
        display: block; 
        padding: .875rem; 
        text-decoration: none; 
    }
    .img1 {
        width: 95vw;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .section1 {
        text-align: center;
    }
    h2 {
        float: none;
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 1.5rem;
        height: auto;
        margin-top: 0;
    }
    .section2 {
        display: inline-block;
        margin-top: 18rem;
        align-items: center;
        align-content: center;
    }
    .projectimg img {
        width: 32vw;
    }
    .projectimg {
        height: auto;
        margin: 1rem;
        padding-left: 1rem;
        width: 40%;
        text-align: center;
    }
}
@media (max-width: 500px) {
    .img1 {
        width: 90vw;
        margin: none;
    }
    .projectimg {
        margin-left: 1rem;
        width: 33vw;
    }
    div .projectimg {
        padding-left: 0;
    }
}